{% extends 'layout.html' %}

{% block header %}
  <h1>歡迎光臨，請輸入帳號密碼</h1>
{% endblock %}
 
{% block content %}
<div>
    <h1>建立帳戶</h1>
    <form action="/signup", method="post">
        <label for="name">姓名</label>
       <input type="text" id="name" name="name" value=""><br>
        <label for="username">帳戶</label>
        <input type="text" id="username" name="username" value=""><br>
        <label for="password">密碼</label>
        <input type="text" id="password" name="password" value=""><br><br>
        <input type="submit">
    </form>
</div>
{% endblock %}
